// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$tomb-gray: #e0e0e0;
$dark-gray: #8d8f91;
$ghost-blue: #4A4A4A;
$white: #fff;
$light-gray: #D23333;
$black: #000000;

