<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('deathbed-Staglieno.jpg');">
  <div class="banner-container banner-header">
    <h1><strong>Plot</strong> your revenge</h1>
      <p>If you like sleep, you'll <strong>love</strong> death.</p>
      <div class="search-form">
        <%= form_tag plots_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "banner-form-control",
          placeholder: "Enter location" %>
          <%= submit_tag "Search Graves", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
</div>
