<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://api.ning.com/files/kV4MbYiv7oStHUX0rm0MiV-YC-0Fpdw2toXkg*s2CBvczBakTz*Osx63lKgO48mBdyPT7o7-JMw-Cf59KXxt3KK46oKW561I/1082056507.jpeg);">
  <div class="container">
    <h1><strong>Plot</strong> your revenge</h1>
    <p>Heavenly plots for all</p>
    <a class="btn btn-light" href="#">Find <strong>your</strong> dream plot</a>
  </div>
</div>
