<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://api.ning.com/files/kV4MbYiv7oStHUX0rm0MiV-YC-0Fpdw2toXkg*s2CBvczBakTz*Osx63lKgO48mBdyPT7o7-JMw-Cf59KXxt3KK46oKW561I/1082056507.jpeg);">
  <div class="banner-container banner-header">
    <h1><strong>Plot</strong> your revenge</h1>
    <p>If you like sleep, you'll <strong>love</strong> death.</p>
    <div class="search-form">
    <%= form_tag plots_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "banner-form-control",
      placeholder: "Enter location" %>
      <%= submit_tag "Search Graves", class: "btn btn-light" %>
    <% end %>
    </div>
  </div>
</div>
