.plot-banner {
  margin-top: 50px;
}

.plot-name p  {
  font-family: 'Grand Hotel', cursive!important;
  font-size: 60px!important;
  text-align: left!important;
  font-style: italic!important;
  margin-top: 0px;
}

.plot-price {
  padding-top: 25px;
}

.plot-description {
  margin-bottom: 30px;
}

#show-page-reviews h1 {
  font-family: 'Grand Hotel', cursive;
  font-style: italic!important;
  font-size: 65px;
}


