<div class="container">
  <div class="header">Plots Near You! </div>
  <div class="row">
    <% @plots.each do |plot| %>

        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card-product">
            <%= link_to plot_path(plot) do %>
              <%= cl_image_tag(plot.photo) %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= link_to plot.name, plot_path(plot) %></h2>
            </br>
              <p>$<%= plot.price %> per 10 Years</p>

            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





