<%= render 'layouts/shared/banner' %>
<div class="container">
  <h1>Available Plots in Your Area</h1>
  <div class="row">
    <% @plots.each do |plot| %>

        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card-product">
            <%= cl_image_tag(plot.photo) %>
            <div class="card-product-infos">
              <h2><%= link_to plot.name, plot_path(plot) %></h2>

            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
