<div class="container">
  <%= simple_form_for([@plot, @booking]) do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.submit 'Confirm Booking', class: "btn btn-primary" %>
  <% end %>
</div>
