<div class="container">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

    <div class="row">
      <!-- Each starts here -->
      <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
       <%= render 'layouts/components/card' %>
      </div>
      <!-- each ends here -->
    </div>
</div>
