.form_control {
  width: 500px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.form-group {
  margin-top: 0px;
}

.label {
  margin-top: 30px;
}

.comments {
  display: inline-block;
  margin: 10px 0px 5px 0px!important;
  padding-top: 30px;
}
