.header {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 60px;
  text-align: center;
}

// #your-booking {
//   margin-top: 57px;
//   margin-left: -61px;
// }

// #your-listing {
//   margin-top: 211px;
//   margin-left: -242px;
// }
