.header {
  font-family: $fifties-font;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  border-top: 3px solid $tomb-gray;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  padding-top: 45px;

}

// #your-booking {
//   margin-top: 57px;
//   margin-left: -61px;
// }

// #your-listing {
//   margin-top: 211px;
//   margin-left: -242px;
// }
