// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "cards";
@import "buttons";
@import "search";

$gray: #8e8a8a;
$white: #fff;
$light-gray: #D23333;

