.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  // #61708e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: $fifties-font;
  font-size: 25px;
  color: black;

  p {
    margin: 0 0 0 10px;
    padding: 5px 0 0 0;

 }
}

.btn-search-nav {
    position: relative;
    top: -18px!important;
    left: 279px;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.ap-input-icon svg {
    fill: #cfcfcf;
    position: absolute;
    top: 100%;
    right: 34;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
