.search-bar {
  border: 1px solid black;
}

.m-0 {
  padding-bottom: 28px;
}

.form-control {
  display: inline-block;
  padding: 20px;
}

.btn-search {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 4px;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  color: #000;
  background-color: #ffffff;
  border-color: #C7CEE3;
}
