.search-bar {
  border: 1px solid black;
}

.m-0 {
  padding-bottom: 28px;
}

// form {
//     display: block;
//     margin-top: 0em;
//     width: 500px;
// }

// .form-control {
//     display: inline-block;
//     padding: 20px;
//   }

.search-bar {
  width: 100%;
  .algolia-places {
    width: 56% !important;
  }
  form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }

  .ap-input-icon svg {
    fill: white;
    position: absolute;
    top: 72%;
    left: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: -17px;
}
}

.btn-search {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: -28px;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  color: #000;
  background-color: #ffffff;
  border-color: #C7CEE3;
}

