.search-bar {
  border: 1px solid black;
}

.m-0 {
  padding-bottom: 28px;
}

.form-control {
  display: inline-block;
  padding: 20px;
}

.btn-search {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 4px;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  color: #000;
  background-color: #ffffff;
  border-color: #C7CEE3;
}

.ap-input-icon svg {
    fill: #cfcfcf;
    position: absolute;
    top: 70%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: -17px;
}
