<div class="container-review-first mt-4">
  <div class="review-container">
    <div class="row d-flex">
      <div class="form-left  col-xm-12 col-md-6">
        <h1 class="review-header" style="text-align: center; font-family: 'Telex', sans-serif;">Leave a review from the Great Beyond <br> for <h1 class="plot-name"><%= @booking.plot.name %></h1></h1></br></h1>
          <%= render "form" %>
      </div>
      <div class="detail-right col-xs-12 col-md-6">
        <h3> Here lies... You!</h3>
        <div class="show-img-container">
          <%= cl_image_tag(@booking.plot.photo) %>
        </div>
      </div>
    </div>
  </div>
</div>

